.navList {
  margin-top: 10px;
  list-style: none;
  color: #a4d0a4;
}

.navList-item {
  font-size: 1.2rem;
  margin-left: 2rem;
  display: inline;
}

.navLink {
  text-decoration: none;
  color: #a4d0a4;
}

.navLink:hover {
  color: #617a55;
  cursor: pointer;
}

.navLink.active {
  color: #617a55;
}
