.blog-container {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border-radius: 10px;
  background-color: #617a55;
}

.blog-header {
  display: flex;
  align-items: center;
}

.blog-header h3 {
  color: #fff8d6;
  font-weight: 400;
  font-size: 1.4rem;
}

.blog-title {
  margin: 1rem 0;
  font-weight: 400;
  font-size: 2rem;
  color: #ffff;
}

.blog-content {
  color: #fff8d6;
  line-height: 1.8;
  font-size: 1.1rem;
}
