.log-sign-btn {
  background-color: #617a55;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 10px 16px;
  margin-right: 1rem;
  text-align: center;
  border-style: none;
  color: #fff8d6;
}

.log-sign-btn:hover {
  cursor: pointer;
  color: #ffffff;
}
